<!DOCTYPE html>
<html>

<head>
	<meta name="google-site-verification" content="DauZhd28RcwlNML9fpS_AwFL1T-MEEU7JT2rUCs0nVY" />

	<title>Miselsio</title>

    {% load staticfiles %}

	<link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}" />

</head>

<body>

	<div class="index_main">
		
		<p> My name is Michael and I am Web Developer. I have experience work a frontend and backend (Python/Django) developer 2,5 and 2 years respectively. I am now looking for a job and you can contact me by email <strong>michael@miselsio.co</strong> </p>
		<a href="/timehunt" style="color:blue;">TimeHunt</a>

	</div>

	<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-64063502-1', 'auto');
  ga('send', 'pageview');

</script>

</body>
</html>
